.application-footer {
	border-top: 1px solid #cbcbcb;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 1rem;
	background-color: #f8f9fa;
	text-align: center;
	filter: drop-shadow(0 -1px 3px rgba(121, 121, 121, 0.4));
	width: 100%;
	height: 57px;
	display: block;
}
